body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  text-align: center;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

div {
  padding: 20px;
}

.container{
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: top;
  font-family: system-ui;
  background: #5bb4c4;
  color: white;
  text-align: center;
  width: 180px;
  height: auto;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 1.2em; 
}

.description {
  font-size: 1em;
  color: #135a66;
}

.priority-low {
  font-weight: bold;
  color: greenyellow;
}

.priority-medium {
  font-weight: bold;
  color: orange;
}

.priority-high {
  font-weight: bold;
  color: red;
}

button {
  border: none;
  border-radius: 3px;
  font-style: italic;
  font-size: 0.8em;
  margin: 4px 6px;
  width: 50px;
  height: 25px;
}

.doneButton {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: green;
}

.deleteButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: red;
}

